@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
    /*Variable Setup*/
    --color-primary:#6F417D;
    --color-secondary:#BBBB62;
    --color-accent:#E1E1CA;
    --color-background:#211424;

    /*Global declarations*/
    background-color: var(--color-background);


}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Anonymous Pro', monospace;
}

.container {
    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.align-center {
    align-content: center;
}

#header {
    margin: 5px 10px;
}

#highscores, #timer {
    font-size: 36px;
    color: var(--color-secondary);
}

#start-container {
    color: var(--color-secondary);
}

#start-container h1 {
    font-size: 60px;
    color: var(--color-secondary);
}

#question-container h1 {
    font-size: 48px;
    color: var(--color-secondary)
}

.hidden {
    display:none;
}

.btn {
    font-size: 30px;
    width: 500px;
    height: 75px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
    border: solid 1px var(--color-background);
    border-radius: 5px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}