@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
    /*Variable Setup*/
    --color-primary:#653274;
    --color-secondary:#BBBB62;
    --color-accent:#E1E1CA;
    --color-background:#211424;

    /*Global declarations*/
    background-color: var(--color-background);


}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Anonymous Pro', monospace;
}

.container {
    width: 100vw;
    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display:flex;
    justify-content: center;
    align-content: center;
}

.text-center {
    text-align: center;
}

.align-center {
    align-content: center;
}

#header {
    margin: 5px 10px;
}

#highscores, #timer {
    font-size: 36px;
    color: var(--color-secondary);
}

#contents {
    color: var(--color-secondary);
}

#contents h1 {
    font-size: 60px;
}

.btn {
    padding: 20px 0;
    width: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-secondary);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,50,116,1) 35%, rgba(0,212,255,1) 100%);
}